<div class="contain">
  <div class="dashboard">
    <div class="profile">
      <section class="user">
        <section class="imageUser">
          <img src="../assets/images/image-jeremy.png" />
        </section>
        <section class="info">
          <p class="report">Report for</p>
          <p class="userName">Jeremy Robson</p>
        </section>
      </section>
      <section class="filters">
        <p class="daily" (click)="exibirConteudo('Daily')">Daily</p>
        <p class="weekly"(click)="exibirConteudo('Weekly')">Weekly</p>
        <p class="monthly" (click)="exibirConteudo('Monthly')">Monthly</p>
      </section>
    </div>
    <div class="tasks">
      <div class="work">
        <img src="../assets/images/icon-work.png" />

        <div class="infoWork">
          <div class="headerWork">
            <p>Work</p>
            <button mat-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
          <p class="timeWork" *ngIf="daily">{{profileData[0].timeframes.daily.current}}hrs</p>
          <p class="timeWork"*ngIf="weekly">{{profileData[0].timeframes.weekly.current}}hrs</p>
          <p class="timeWork"*ngIf="monthly">{{profileData[0].timeframes.monthly.current}}hrs</p>
          <p class="lastWork"*ngIf="daily">Last Week - {{profileData[0].timeframes.daily.previous}}hrs</p>
          <p class="lastWork"*ngIf="weekly">Last Week - {{profileData[0].timeframes.weekly.previous}}hrs</p>
          <p class="lastWork"*ngIf="monthly">Last Week - {{profileData[0].timeframes.monthly.previous}}hrs</p>
        </div>
      </div>

      <div class="play">
        <div class="backgroundPlay">
          <img src="../assets/images/icon-play.png" />
        </div>
        <div class="infoPlay">
          <div class="headerPlay">
            <p>Play</p>
            <button mat-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
          <p class="timePlay" *ngIf="daily">{{profileData[1].timeframes.daily.current}}hrs</p>
          <p class="timePlay"*ngIf="weekly">{{profileData[1].timeframes.weekly.current}}hrs</p>
          <p class="timePlay"*ngIf="monthly">{{profileData[1].timeframes.monthly.current}}hrs</p>
          <p class="lastPlay"*ngIf="daily">Last Week - {{profileData[1].timeframes.daily.previous}}hrs</p>
          <p class="lastPlay"*ngIf="weekly">Last Week - {{profileData[1].timeframes.weekly.previous}}hrs</p>
          <p class="lastPlay"*ngIf="monthly">Last Week - {{profileData[1].timeframes.monthly.previous}}hrs</p>
        </div>
      </div>

      <div class="study">
        <div class="backgrounStudy">
          <img src="../assets/images/icon-study.png" />
        </div>
        <div class="infoStudy">
          <div class="headerStudy">
            <p>Study</p>
            <button mat-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
          <p class="timeStudy" *ngIf="daily">{{profileData[2].timeframes.daily.current}}hrs</p>
          <p class="timeStudy"*ngIf="weekly">{{profileData[2].timeframes.weekly.current}}hrs</p>
          <p class="timeStudy"*ngIf="monthly">{{profileData[2].timeframes.monthly.current}}hrs</p>
          <p class="lastStudy"*ngIf="daily">Last Week - {{profileData[2].timeframes.daily.previous}}hrs</p>
          <p class="lastStudy"*ngIf="weekly">Last Week - {{profileData[2].timeframes.weekly.previous}}hrs</p>
          <p class="lastStudy"*ngIf="monthly">Last Week - {{profileData[2].timeframes.monthly.previous}}hrs</p>
        </div>
      </div>

      <div class="exercise">
        <div class="backgroundExercise">
          <img src="../assets/images/icon-exercise.png" />
        </div>
        <div class="infoExercise">
          <div class="headerExercise">
            <p>Exercise</p>
            <button mat-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
          <p class="timeExercise" *ngIf="daily">{{profileData[3].timeframes.daily.current}}hrs</p>
          <p class="timeExercise"*ngIf="weekly">{{profileData[3].timeframes.weekly.current}}hrs</p>
          <p class="timeExercise"*ngIf="monthly">{{profileData[3].timeframes.monthly.current}}hrs</p>
          <p class="lastExercise"*ngIf="daily">Last Week - {{profileData[3].timeframes.daily.previous}}hrs</p>
          <p class="lastExercise"*ngIf="weekly">Last Week - {{profileData[3].timeframes.weekly.previous}}hrs</p>
          <p class="lastExercise"*ngIf="monthly">Last Week - {{profileData[3].timeframes.monthly.previous}}hrs</p>
        </div>
      </div>

      <div class="social">
        <div class="backgroundSocial">
          <img src="../assets/images/icon-social.png" />
        </div>
        <div class="infoSocial">
          <div class="headerSocial">
            <p>Social</p>
            <button mat-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
          <p class="timeSocial" *ngIf="daily">{{profileData[4].timeframes.daily.current}}hrs</p>
          <p class="timeSocial"*ngIf="weekly">{{profileData[4].timeframes.weekly.current}}hrs</p>
          <p class="timeSocial"*ngIf="monthly">{{profileData[4].timeframes.monthly.current}}hrs</p>
          <p class="lastSocial"*ngIf="daily">Last Week - {{profileData[4].timeframes.daily.previous}}hrs</p>
          <p class="lastSocial"*ngIf="weekly">Last Week - {{profileData[4].timeframes.weekly.previous}}hrs</p>
          <p class="lastSocial"*ngIf="monthly">Last Week - {{profileData[4].timeframes.monthly.previous}}hrs</p>
        </div>
      </div>

      <div class="selfCare">
        <div class="backgroundSelfCare">
          <img src="../assets/images/icon-self-care.png" />
        </div>
        <div class="infoSelfCare">
          <div class="headerSelfCare">
            <p>Self Care</p>
            <button mat-button>
              <mat-icon>more_horiz</mat-icon>
            </button>
          </div>
          <p class="timeSelfCare" *ngIf="daily">{{profileData[5].timeframes.daily.current}}hrs</p>
          <p class="timeSelfCare"*ngIf="weekly">{{profileData[5].timeframes.weekly.current}}hrs</p>
          <p class="timeSelfCare"*ngIf="monthly">{{profileData[5].timeframes.monthly.current}}hrs</p>
          <p class="lastSelfCare"*ngIf="daily">Last Week - {{profileData[5].timeframes.daily.previous}}hrs</p>
          <p class="lastSelfCare"*ngIf="weekly">Last Week - {{profileData[5].timeframes.weekly.previous}}hrs</p>
          <p class="lastSelfCare"*ngIf="monthly">Last Week - {{profileData[5].timeframes.monthly.previous}}hrs</p>
        </div>
      </div>
    </div>
  </div>
</div>
